 .footer-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
.footer h1 {
        padding-top: 7px;
        color: aliceblue;
      }

      .footer p {
        padding-top: 7px;
      }

      .button-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
        padding: 7px;
      }

      .button {
        background-color: #2d2d2d;
        color: #fff;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        border-radius: 9999px;
      }

      .resources,
      .company,
      .policies {
        padding-bottom: 5px;
      }

      .links {
        display: flex;
        flex-direction: column;
        gap: 3px;
        padding-top: 7px;
      }

      .link {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s;
        font-size: 18px;
      }

      .link:hover {
        color: #808080;
      }
